# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
pruebas_libelf/fact10_hexdump.txt
pruebas_libelf/fact10_objdump.txt
pruebas_libelf/hexfact10.txt
pruebas_libelf/pag2.gcc
pruebas_libelf/prog4.gcc
pruebas_libelf/prog5.gcc
pruebas_libelf/prog6.gcc
pruebas_libelf/prog7.gcc
pruebas_libelf/readelfout.txt
pruebas_libelf/test_page2.gcc
pruebas_libelf/prog6.gcc
pruebas_libelf/prog6_out_hex.txt
pruebas_libelf/prog5.gcc
pruebas_libelf/pag.c
pruebas_libelf/fact10_interpreter_out.txt
pruebas_libelf/elf_interpreter.gcc
pruebas_libelf/elf_interpreter.gcc
